<div class='details'>
    <header>
        <img src='images/close.png' class='close' />
    </header>
    <div class="place">
        <h2></h2>
        <p>1227 N. Milton Ave, Flagstaff, AZ 86001</p>
        <h3>Details</h3>
        <h5>Hours</h5><p class='place_info'>Monday - Friday : 9:00am - 5:00pm</p>
        <h5>Phone</h5><p class='place_info'>(928) 523-3449</p>
        <h5>Website</h5><p class='place_info'>nau.edu/skydome-p/main.html</p>
    </div>

    <div class="event">
        <h3>Event</h3>
        <h4>College of SBS Graduation</h4>
        <h5>Date</h5><p class='place_info'>Friday, May 10th, 2013</p>
        <h5>Time</h5><p class='place_info'>10:00am - 1:00pm</p>
        <h5>Description</h5><p class='place_info'>The NAU College of Social and Behavioral Science undergraduate commencement ceremony.</p>
    </div>
</div>
