<div class="header">
    <h2>
        <span id="first">M</span>app
    </h2>
</div>

<div class='menu' ng-controller="menuCtrl">
    <h4>MENU</h4>

    <ul>
        <li ng-repeat="category in categories" ng-click="toggleCategory(category)">
            <div ng-show="category.toggleActive" class="toggle-icon" ng-style="{'background-color':category.toggleIconColor}"></div>
            <div ng-hide="category.toggleActive" class="toggle-icon"></div>
            <span>{{category.name}}</span>
        </li>
    </ul>

</div>
