<div class="header">
    <h2>
        <span id="first">M</span>app
    </h2>
</div>

<div class='menu' ng-controller="menuCtrl">
    <h4>MENU</h4>

    <ul>
        <li ng-click="getMarkers(type)">
            <div class="toggle-icon"></div>
            <span>FILMS</span>
        </li>
        <li ng-click="getMarkers(type)">
            <div class="toggle-icon"></div>
            <span>SPEAKERS</span>
        </li>
        <li ng-click="getMarkers(type)">
            <div class="toggle-icon"></div>
            <span>MUSIC</span>
        </li>
        <li ng-click="getMarkers(type)">
            <div class="toggle-icon"></div>
            <span>ARTS &amp; GALLERIES</span>
        </li>
        <li ng-click="getMarkers(type)">
            <div class="toggle-icon"></div>
            <span>SPORTS</span>
        </li>
        <li ng-click="getMarkers(type)">
            <div class="toggle-icon"></div>
            <span>SPECIAL EVENTS</span>
        </li>
        <li ng-click="getMarkers(type)">
            <div class="toggle-icon"></div>
            <span>PARKING</span>
        </li>
    </ul>

</div>
