<div id="popup_box">	<!-- OUR PopupBox DIV-->
    <h1 class="credits_header">MAPP CREDITS:</h1>
    <p class="credits">Trevor Ganske | <a href="http://www.trevorganske.com" target="_blank">trevorganske.com</a><br/>
    Lauren McFarlin | <a href="http://www.laurenmcfarlin.com" target="_blank">laurenm.com</a><br/>
    Jenny Tighe | <a href="http://www.jennytighe.com" target="_blank">jennytighe.com</a><br/>
    Steve Tyree | <a href="http://www.stevetyree.com" target="_blank">stevetyree.com</a></p>

    <a id="popupBoxClose">X</a>
</div>

<div id="overlay"></div>
