//http://www.colourlovers.com/palette/1611675/Map_to_Any_Place
$base-dark:#08303A;
$base-light:#F8FEFE;
$base-mid:#437483;
$base-mid-light:#7BA9B6;
$base-accent:#CE1D27;


$primary-color:$base-dark;
$accent-color:$base-mid-light;
